include INSTALL
include README
include TODO
include COPYRIGHT
include CHANGELOG
include MIGRATION
include LICENSE
include Makefile
include *.xml
include *.odt
include *.txt
include tryton.cfg
include locale/*.po
include docs/*
include icons/*
